extends base
//- extends base.pug
include mixins/video

block content
  each potato in videos 
    //-li=video.title #{video}
    +video(potato)
    //- mixins 추가할때 +

  else
    li Sorry nothing found.
  button send
