extends base

block content
  //- h3 hello from upload
  form(method="POST",action ="/videos/upload")
    input(name="title",placeholder="Title", required, type="text")
    input(type="submit", value="Upload Video")